body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('interesting.jpg');
    color: #333;
}

header {
    position: relative;
    padding: 20px 0;
    background:linear-gradient(90deg, #32c737, #2E8B57,rgb(4, 240, 197));
    color: white;
    text-align: center;
}

.logo-left{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-65%);
}

.logo-left img {
    width: 150px;
    height: auto;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-logo, .header-logus {
    width: 10%;
    height: auto;
}

h1{ 
    margin: 0;
    font-size: 2em;
}

p{
    margin-top: 10px;
}

.presentacion {
    background: #ffffffef;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.presentacion3d {
    background: #ffffffe1;
    margin: 100px auto;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
}

h2{text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.presentacion img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

nav {
    background:linear-gradient(90deg, #32c737, #2E8B57,rgb(9, 222, 183));;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.kali {
    font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #ffffffdf;
    padding: 10px;
    width: 25%;
    margin: 10px auto ;
    margin-top: -20px;
    height: 15px;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #00ab33;
}

.sub{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: double;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.range{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.parasub{
    text-align: left;
}

.navigation-buttons {
    position: fixed;
    bottom: 20px;
    right: 100px;
    display: flex;
    gap: 20px;
    z-index: 1000;
}

.button-image {
    width: 40px; /* Ajusta el tamaño según necesites */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.button-image:hover {
    transform: scale(1.1); /* Efecto al pasar el mouse */
}

/* Tooltip */
.tooltip {
    position: absolute;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; 
    white-space: nowrap;
    z-index: 1001; 
}

.button-container:hover .tooltip {
    display: block;
}

.button-container {
    position: relative;
}

.button-container.atras .tooltip {
    bottom: 60px; /* Ajusta la posición del tooltip */
}

.button-container.siguiente .tooltip {
    bottom: 60px; /* Ajusta la posición del tooltip */
}

/*IMAGENES SEPARADAS AL MARGEN*/

.image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px; /* Ajusta los márgenes según tu diseño */
}

.image-left,
.image-right {
    width: 40%; /* Ambas imágenes ocupan casi la mitad del contenedor */
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.audio{
    /*CAJON DE CONTENIDO*/
    background: #e3e3e3ef;
    margin: 40px auto;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60% ;
    margin-top: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-align: center;
    border: #333;
}

.audio-titulo{
    font-size: 1.4em;   
    margin-bottom: 8px;
}

/*APLICACION DEL VIDEO WEB*/
.video {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-align: center;
    border: #333;
    

    /*CAJON DE CONTENIDO*/
    background: #ffffffef;
    margin: 40px auto;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60% ;
    margin-top: 1%;
}

.video iframe {
    width: 60%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    margin-top: 10px;
    border: none;
}

.video-titulo{
    font-size: 1.4em;   
    margin-bottom: 8px;
}